* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Verdana, Tahoma, Geneva', sans-serif;
}

.wrapper {
	width: 1100px;
	margin: auto;
	position: relative;
}

.logo {
	font-size: 55px;
	font-weight: bold;
	float: left;
	font-family: monospace;
	color: #D32626;
}

.menu{
	float: right;
}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 75px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #D32626;
}

nav ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li {
	float: left;
}

nav ul li a {
	color: black;
	font-weight: bold;
	text-align: center;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

	section {
		margin: auto;
		display: flex;
		margin-bottom: 55px; 
	}

	.kolom {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.kolom .deskripsi {
		font-size: 20px;
		font-weight: bold;
		font-family: 'comic sans ms';
		color: #D32626; 
	}

	h2 {
		font-family: 'comic sans ms';
		font-weight: 800;
		font-size: 45px;
		margin-bottom: 20px;
		color: #D32626;
		width: 100%;
		line-height: 50px; 
	}

a.tbl-biru {
		background: #A2D2FF;
		border-radius: 20px;
		margin-top: 20px;
		padding: 15px 20px 15px 20px;
		color: #212121;
		cursor: pointer;
		font-weight: bold;
}

a.tbl-biru:hover {
	background: #fc5185;
	text-decoration: none;
	} 

a.tbl-red {
		background: #A2D2FF;
		border-radius: 20px;
		margin-top: 20px;
		padding: 15px 20px 15px 20px;
		color: #212121;
		cursor: pointer;
		font-weight: bold;
}

a.tbl-red:hover{
	background: #D32626;
	text-decoration: none;

}

p {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
} 
</style